name: Weekly Tox run

on:
  schedule:
    - cron:  '0 0 * * 1'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy: 
      max-parallel: 1

    steps:
    - uses: actions/checkout@v1
    - name: Set up python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
        python -m pip install tox
    - name: Run tox
      run: |
        tox
